import %workspace%/../../.bazelrc

common --config=cc
common --process_headers_in_dependencies
common --features=layering_check
# Allows the module_interfaces attribute used by the C++20 modules test. This is
# a no-op for targets that do not use it.
common --experimental_cpp_modules
common --modify_execution_info=CppModuleMap=+supports-path-mapping,CppArchive=+supports-path-mapping,CppCompile=+supports-path-mapping,CppAggregateDdi=+supports-path-mapping,CppGenModmap=+supports-path-mapping
